<section class="grid grid-cols-12 p-4 mt-4">
    <form class="col-span-12 md:col-start-4 lg:col-start-4 md:col-end-10 lg:col-end-10 flex flex-col bg-orange-300 p-4 rounded"
        #treballadorForm="ngForm" (ngSubmit)="onSubmitTreballador()">
        <h1 class="text-center font-bold text-lg">Treballador</h1>

        <label class="font-bold" for="nom">Nom:</label>
        <input class="border-2 border-black p-1" type="text" id="nom" [(ngModel)]="treballadorData.nom" name="nom" required>
        <br>
        <label class="font-bold" for="habitatge">Habitatge:</label>
        <input class="border-2 border-black p-1" type="text" id="habitatge" [(ngModel)]="treballadorData.habitatge"
            name="habitatge" required>
        <br>
        <button [disabled]="!treballadorForm.valid" type="submit">
            <span
                [ngClass]="{'disabled:bg-orange-300 bg-opacity-40 text-gray-200': !treballadorForm.valid, 'hover:bg-orange-500': treballadorForm.valid}"
                class="bg-orange-400 px-4 py-1 font-bold rounded">Crea</span>
        </button>
    </form>
</section>

{{treballadorData | json}}

<section class="grid grid-cols-12 p-4 mt-4">
    <form class="col-span-12 md:col-start-4 lg:col-start-4 md:col-end-10 lg:col-end-10 flex flex-col bg-green-300 p-4 rounded" (ngSubmit)="onSubmit()"
        #clientForm="ngForm">
        <h1 class="text-center font-bold text-lg">Client Sense Dependència</h1>

        <label class="font-bold" for="nom">Nom:</label>
        <input class="border-2 border-black p-1" type="text" id="nom" [(ngModel)]="clientData.nom" name="nom" required>
        <br>
        <label class="font-bold" for="habitatge">Habitatge:</label>
        <input class="border-2 border-black p-1" type="text" id="habitatge" [(ngModel)]="clientData.habitatge"
            name="habitatge" required>
        <br>
        <button [disabled]="!clientForm.valid" type="submit">
            <span
                [ngClass]="{'disabled:bg-green-300 bg-opacity-40 text-gray-200': !clientForm.valid, 'hover:bg-green-500': clientForm.valid}"
                class="bg-green-400 px-4 py-1 font-bold rounded">Crea</span>
        </button>
    </form>
</section>

{{clientData | json}}