<section class="grid grid-cols-12 mt-4">
        <form class="col-start-4 col-end-10 flex flex-col bg-orange-300 p-4 rounded" (ngSubmit)="onSubmit()"  #treballadorForm="ngForm">
            <h1 class="text-center font-bold text-lg">Treballador</h1>

            <label class="font-bold" for="nom">Nom:</label>
            <input class="border-2 border-black p-1" type="text" id="nom" [(ngModel)]="formData.nom" name="nom" required>
            <br>
            <label class="font-bold" for="habitatge">Habitatge:</label>
            <input class="border-2 border-black p-1" type="text" id="habitatge" [(ngModel)]="formData.habitatge" name="habitatge" required>
            <br>
            <button [disabled]="!treballadorForm.valid" type="submit">
                <span [ngClass]="{'disabled:bg-orange-300 bg-opacity-40': !treballadorForm.valid, 'hover:bg-orange-500': treballadorForm.valid}"
                  class="bg-orange-400 px-4 py-1 font-bold rounded">Crea</span>
              </button>              
        </form>
</section>

{{formData | json}}